# **Assignment For Numpy**
# Ali Zia Khan 
# PIAIC BATCH 7 AI KARACHI
# CNC022080
# ASSIGNMENT 1 RESUBMISSION NOW IN .ipynb FORMAT

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [2]:
import numpy as np

# 2. Create a null vector of size 10

In [3]:
arr1=np.array([0]*10)
print(arr1)

[0 0 0 0 0 0 0 0 0 0]

3. Create a vector with values ranging from 10 to 49

In [4]:
arr2=np.arange(10, 50)
print(arr2)

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

4. Find the shape of previous array in question 3

In [5]:
print(arr2.shape)

(40,)

5. Print the type of the previous array in question 3

In [6]:
print(arr2.dtype)

int32

6. Print the numpy version and the configuration

In [8]:
print(np.__version__)
print(np.show_config())

1.19.2
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ALI ZIA/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/ALI ZIA/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ALI ZIA/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/ALI ZIA/anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ALI ZIA/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/ALI ZIA/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/ALI ZIA/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/ALI ZIA/anaconda3\\Library\\include']
None

7. Print the dimension of the array in question 3

In [9]:
print(arr2.ndim)

1

8. Create a boolean array with all the True values

In [10]:
arr3=np.array([True]*5)
print(arr3)

[ True  True  True  True  True]

9. Create a two dimensional array

In [11]:
arr4=np.array([[2,1,0],[5,1,6]])
print(arr4)

[[2 1 0]
 [5 1 6]]

10. Create a three dimensional array

In [12]:
arr5=np.array([[[5,2,1],[5,2,4],[41,7,8]]])
print(arr5)

[[[ 5  2  1]
  [ 5  2  4]
  [41  7  8]]]

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [13]:
arr6=np.arange(0,10)
print(arr6)
print(arr6[::-1])

[0 1 2 3 4 5 6 7 8 9]
[9 8 7 6 5 4 3 2 1 0]

12. Create a null vector of size 10 but the fifth value which is 1

In [14]:
arr7=np.array([int(x==4) for x in range(10)])
print(arr7)

[0 0 0 0 1 0 0 0 0 0]

13. Create a 3x3 identity matrix

In [15]:
obj1 = np.identity(3, dtype = int)
print(obj1)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [16]:
arr8 = np.array([1, 2, 3, 4, 5])
arr9=arr8.astype(np.float64)
print(arr9.dtype)

float64

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [19]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],

           [7., 2., 12.]])

arr12=arr1*arr2
print(arr12)

[[ 0.  8.  3.]
 [28. 10. 72.]]

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [23]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])
arr16=arr1-arr2
print(arr16)

print((arr1==arr2).all())

[[ 1. -2.  2.]
 [-3.  3. -6.]]
False

17. Extract all odd numbers from arr with values(0-9)

In [24]:
arrodd=np.arange(0,10)
j=np.where(arrodd%2!=0)
print(j)

(array([1, 3, 5, 7, 9], dtype=int64),)

18. Replace all odd numbers to -1 from previous array

In [25]:
arrodd=np.arange(0,10)
arrodd[np.where(arrodd%2!=0)]=1

print(arrodd)

[0 1 2 1 4 1 6 1 8 1]

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [26]:
arr18=np.arange(0,10)
arr18[5:9]=12
print(arr18)

[ 0  1  2  3  4 12 12 12 12  9]

20. Create a 2d array with 1 on the border and 0 inside

In [27]:
arr19=np.array([[4,0,0,4],[5,0,0,5]])
print(arr19)
arr19[0:2,0:1]=1
arr19[0:2,3:4]=1
print(arr19)

[[4 0 0 4]
 [5 0 0 5]]
[[1 0 0 1]
 [1 0 0 1]]

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [29]:
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])

arr2d[1,1]=12
print(arr2d)

[[ 1  2  3]
 [ 4 12  6]
 [ 7  8  9]]

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [30]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[1,]=64
print(arr3d)

[[[ 1  2  3]
  [ 4  5  6]]

 [[64 64 64]
  [64 64 64]]]

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [31]:
arr21=np.arange(0,10).reshape(2,5)
print(arr21)
print(arr21[0,])

[[0 1 2 3 4]
 [5 6 7 8 9]]
[0 1 2 3 4]

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [32]:
arr22=np.arange(10,20).reshape(2,5)
print(arr22[1,1])

16

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [33]:
arr22=np.arange(10,20).reshape(2,5)
print(arr22[0:2,2])

[12 17]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [34]:
arr24= np.random.random((10,10))
print("Original Array:")
print(arr24)
xmin, xmax = arr24.min(), arr24.max()
print("Minimum and Maximum Values:")
print(xmin, xmax)

Original Array:
[[0.55922545 0.82381507 0.5145594  0.82172052 0.50586287 0.51743412
  0.77508402 0.28786984 0.48952179 0.55593928]
 [0.42381207 0.34111592 0.960521   0.04192007 0.74928374 0.92255666
  0.03753538 0.7834489  0.35561535 0.58286616]
 [0.09946991 0.63732597 0.21034361 0.35643957 0.30478777 0.14925526
  0.05700469 0.19184622 0.84149337 0.71401353]
 [0.23789206 0.97043948 0.233321   0.87529373 0.58653047 0.99474701
  0.20050046 0.19198729 0.18436125 0.79853299]
 [0.49104894 0.99943065 0.35772037 0.15153429 0.42302071 0.26716488
  0.47109836 0.68109574 0.88092865 0.80257114]
 [0.03380552 0.82179546 0.96542568 0.22339335 0.61652928 0.58804951
  0.00871612 0.42658609 0.06485658 0.47617595]
 [0.38835577 0.16424986 0.37370287 0.252773   0.19330059 0.33784491
  0.2984677  0.96172214 0.58419896 0.74486889]
 [0.04146242 0.20126738 0.44933148 0.19880897 0.63112272 0.03483212
  0.04557925 0.41369777 0.25792457 0.01634942]
 [0.6205638  0.47308338 0.19217048 0.25305763 0.75622299 0.95203358
  0.58474893 0.59233379 0.06877972 0.42452028]
 [0.03037771 0.57700212 0.03525094 0.83712718 0.89310688 0.12535925
  0.42731445 0.41702737 0.22182524 0.44674945]]
Minimum and Maximum Values:
0.0087161200521233 0.9994306502609229

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [37]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(a, b))

[2 4]

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [38]:
c = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
d= np.array([7, 2, 10, 2, 7, 4, 9, 4, 9, 8])
list2=[]
list3=[]
for i in range(0,10):
     for j in range(0,10):

        if (c[i]==d[j]):
            list2.append(i)
            list3.append(j)
            break
if(len(list2) ==0):
    print("not found")
print(list2,list3)

[1, 3, 5, 7] [1, 1, 5, 5]

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [40]:
import random
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randint(7,size=random.randrange(1,10))
print(data)
print(np.where(names[data]!="Will"))

[1 5 0 3]
(array([0, 1, 2, 3], dtype=int64),)

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [41]:
data = np.random.randint(7,size=random.randrange(1,10))
print(data)
print(np.where((names[data]!="Will") & (names[data]!="Joe")))

[2 5 5 6 0 1 0 5]
(array([4, 6], dtype=int64),)

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [42]:
arr30=np.arange(1,16).reshape(5,3)
print(arr30)
arr40=np.linspace(1,15,15).reshape(5,3)
print(arr40)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]]
[[ 1.  2.  3.]
 [ 4.  5.  6.]
 [ 7.  8.  9.]
 [10. 11. 12.]
 [13. 14. 15.]]

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [43]:
arr32=np.random.uniform(low=1.0,high=15.0,size=(2,2,4))
print(arr32)

[[[13.92202832  1.48337983 13.33411643 12.16326306]
  [12.98839194  1.75391482  4.64065334  1.86677553]]

 [[ 1.76842506  9.54198936  1.69244502  1.24257096]
  [14.07033015 13.80615823 13.14955848  5.66426003]]]

33. Swap axes of the array you created in Question 32

In [45]:
np.swapaxes(arr32,0,1)
print(arr32)

[[[13.92202832  1.48337983 13.33411643 12.16326306]
  [12.98839194  1.75391482  4.64065334  1.86677553]]

 [[ 1.76842506  9.54198936  1.69244502  1.24257096]
  [14.07033015 13.80615823 13.14955848  5.66426003]]]

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [46]:
arr33=np.array(range(10))
print(arr33*arr33)
for i in range(0,10):
    if(arr33[i]<0.5):
        arr33[i]=0
print(arr33)

[ 0  1  4  9 16 25 36 49 64 81]
[0 1 2 3 4 5 6 7 8 9]

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [47]:
arr50=np.random.randint(12,size=(12))
arr51=np.random.randint(12,size=(12))




arr52=np.maximum(arr50, arr51)
print(arr52)

[11 10  8 10  8  8  8  8  5  6  4  1]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [48]:
arr44=np.unique(names)
print(arr44)

['Bob' 'Joe' 'Will']

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [49]:
arr42=np.intersect1d(a,arr40)
print(arr42)
arr43 = np.delete(arr40,4 )

arr40=arr43
print(arr40)

[1. 2. 3. 4. 5. 6.]
[ 1.  2.  3.  4.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15.]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [51]:
newColumn = np.array([[10,10,10]])
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])


print(sampleArray[:3,1:2])
hello=np.swapaxes(newColumn,0,1)
print(hello)

[[43]
 [22]
 [94]]
[[10]
 [10]
 [10]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [54]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
g = x.dot(y)

print(g)

[[ 28.  64.]
 [ 67. 181.]]

40. Generate a matrix of 20 random values and find its cumulative sum

In [55]:
arrlast=np.random.randint(0,20,20,int)
print(np.cumsum(arrlast))

[  3  20  27  38  41  43  47  51  53  60  72  80  80  85 100 115 130 146
 157 165]